{% extends "layout.html" %}
{% block content %}

<div class="site_content">
    {% for section in sections %}
    <div class="box">
        <div class="box_title">
            <a href="/section/{{ section[0] }}">{{ section[1] }}</a>
        </div>
        <div class="box_content">
            <p>Ketjuja yhteensä: {{ section[2] }}</p>
            {% if session.user_role == 1 %}
            <br>
            <form action="/add_user_to_section" method="POST">
                <p>Käyttäjä:</p>
                <input type="text" name="username" minlength="4" maxlength="20"> <br>
                <input type="submit" value="Lisää käyttäjälle oikeus alueelle">
                <input type="hidden" name="section_id" value="{{ section[0] }}">
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            </form>
            <br>
            <ul>
                <li>
                    <details>
                        <summary>
                            <p>Muokkaa</p>
                        </summary>
                        <form action="/edit_section" method="POST">
                            <p>Aihe:</p> <br>
                            <input type="text" name="section_name" minlength="4" maxlength="100" value="{{ section[1] }}">
                            <input type="submit" value="Tallenna">
                            <input type="hidden" name="section_id" value="{{ section[0] }}">
                            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                        </form>
                    </details>
                </li>
                <li>
                    <form action="/delete_section" method="POST">
                        <input type="submit" value="Poista">
                        <input type="hidden" name="section_id" value="{{ section[0] }}">
                        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                    </form>
                </li>
            </ul>
            {% endif %}
        </div>
    </div>
    {% endfor %}

    {% if session.user_role == 1 %}
    <div class="box">
        <div class="box_title">
            <p>Luo uusi alue</p>
        </div>
        <div class="box_content">
            <form action="/new_section" method="POST">
                <p>Aihe:</p>
                <input type="text" name="section_name" minlength="4" maxlength="100"> <br>
                <p>Piilotettu alue:</p> <input type="checkbox" name="hidden_section" value="1"> <br>
                <p>Piilotetulle alueelle voi lisätä käyttäjiä sen luomisen jälkeen.</p>
                <input type="submit" value="Luo alue">
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            </form>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}