<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <title>Keskustelusovellus</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/main.css">
</head>

<div class="site_content" style="-ms-flex-direction: row; flex-direction: row; justify-content: space-evenly;">
    <div class="box" style="max-width: 370px">
        <div class="box_title">
            <a href="/">Palaa etusivulle</a>
        </div>
        <div class="box_content">
            <input action="action" type="button" value="Palaa edelliselle sivustolle" onclick="window.history.go(-1); return false;" />
        </div>
    </div>
    <div class="box" style="max-width: 370px">
        {% if session.user_id %}
        <div class="box_title">
            {% if session.user_role == 1 %}
            <p>Olet kirjautunut sisään ylläpitäjänä.</p>
            {% else %}
            <p>Olet kirjautunut sisään käyttäjänä.</p>
            {% endif %}
        </div>
        <div class="box_content">
            <a href="/logout">Kirjaudu ulos</a>
        </div>
        {% else %}
        <div class="box_title">
            <p>Kirjaudu sisään</p>
        </div>
        <div class="box_content">
            <form action="/login" method="POST">
                <p>Käyttäjänimi:</p>
                <input type="text" name="username" minlength="4" maxlength="20"> <br>
                <p>Salasana:</p>
                <input type="password" name="password" minlength="8" maxlength="40"> <br>
                <input type="submit" value="Kirjaudu">
            </form>
            <details>
                <summary>
                    <p>Jos sinulla ei ole tunnusta, voit luoda sen klikkaamalla minua.</p>
                </summary>
                <form action="/register" method="POST">
                    <p>Käyttäjänimi:</p>
                    <input type="text" name="username" minlength="4" maxlength="20">
                    <p>Salasana:</p>
                    <input type="password" name="password1" minlength="8" maxlength="40">
                    <p>Salasana uudestaan:</p>
                    <input type="password" name="password2" minlength="8" maxlength="40">
                    <p>Tee minusta ylläpitäjä (testaamisen takia toteutettu näin):</p> <input type="checkbox" name="role" value="1"><br>
                    <input type="submit" value="Luo tunnus">
                </form>
            </details>
        </div>
        {% endif %}
    </div>
    <div class="box" style="max-width: 370px">
        <div class="box_title">
            <p>Etsi viestejä</p>
        </div>
        <div class="box_content">
            <form action="/find_message" method="GET">
                <input type="text" name="message" minlength="3" maxlength="20"> <br>
                <input type="submit" value="Etsi">
            </form>
        </div>
    </div>
</div>

{% block content %}{% endblock %}