{% extends "layout.html" %}
{% block content %}

<div class="site_content">
    <div class="box">
        <div class="box_title">
            <a href="/">{{ section_name }}</a>
        </div>
        <div class="box_content">
            {% for thread in threads %}
            <div class="box">
                <div class="box_title">
                    <a href="/section/{{ section_id }}/thread/{{ thread[0] }}">{{ thread[1] }}</a>
                </div>
                <div class="box_content">
                    <p>Ketjun luoja {{ thread[3] }}</p>
                    <br>
                    <p>Viestejä yhteensä: {{ thread[2] }}</p>
                    {% if thread[4] %}
                    <br>
                    <ul>
                        <li>
                            <details>
                                <summary>
                                    <p>Muokkaa</p>
                                </summary>
                                <form action="/edit_thread" method="POST">
                                    <p>Aihe:</p>
                                    <input type="text" name="thread_name" minlength="4" maxlength="100" value="{{ thread[1] }}">
                                    <input type="submit" value="Tallenna">
                                    <input type="hidden" name="section_id" value="{{ section_id }}">
                                    <input type="hidden" name="thread_id" value="{{ thread[0] }}">
                                    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                                </form>
                            </details>
                        </li>
                        <li>
                            <form action="/delete_thread" method="POST">
                                <input type="submit" value="Poista">
                                <input type="hidden" name="thread_id" value="{{ thread[0] }}">
                                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                            </form>
                        </li>
                    </ul>
                    {% endif %}
                </div>
            </div>
            {% endfor %}

            {% if session.user_id %}
            <div class="box">
                <div class="box_title">
                    <p>Luo uusi ketju</p>
                </div>
                <div class="box_content">
                    <form action="/new_thread" method="POST">
                        <p>Aihe:</p>
                        <input type="text" name="thread_name" minlength="4" maxlength="100"> <br>
                        <p>Aloitusviesti:</p>
                        <textarea name="message" rows="4" cols="50" minlength="1" maxlength="2000"></textarea>
                        <input type="submit" value="Luo ketju">
                        <input type="hidden" name="section_id" value="{{ section_id }}">
                        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                    </form>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>


{% endblock %}