{% extends "layout.html" %}
{% block content %}

<div class="site_content">
    {% for thread in threads %}
    <div class="box">
        <div class="box_title">
            <a href="/section/{{ section_id }}/thread/{{ thread[0] }}">{{ thread[1] }}</a>
        </div>
        <div class="box_content">
            <p>Ketjun luoja {{ thread[3] }}</p>
            <br>
            <p>Viestejä yhteensä: {{ thread[2] }}</p>
        </div>
    </div>
    {% endfor %}

    {% if session.user_id > 0 %}
    <div class="box">
        <div class="box_title">
            <p>Luo uusi ketju</p>
        </div>
        <div class="box_content">
            <form action="/new_thread" method="POST">
                <p>Aihe:</p> <br>
                <input type="text" name="thread_name" minlength="4" maxlength="100"> <br>
                <p>Aloitusviesti:</p> <br>
                <textarea name="message" rows="4" cols="50" minlength="1" maxlength="2000"></textarea>
                <input type="hidden" name="section_id" value="{{ section_id }}">
                <input type="submit" value="Luo ketju">
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            </form>
        </div>
    </div>
    {% endif %}
</div>


{% endblock %}