{% extends "layout.html" %}
{% block content %}


<div class="site_content">
    <div class="box">
        {% for message in messages %}
        <div class="box_title">
            <p>{{ message[0] }}, {{ message[1] }}</p>
        </div>
        <div class="box_content">
            <p>{{ message[2] }}</p>
        </div>
        {% endfor %}
    </div>

    {% if session.user_id > 0 %}
    <div class="box">
        <div class="box_title">
            <p>Lähetä uusi viesti</p>
        </div>
        <div class="box_content">
            <form action="/new_message" method="POST">
                <p>Viesti:</p> <br>
                <textarea name="message" rows="4" cols="50" minlength="1" maxlength="2000"></textarea>
                <input type="hidden" name="section_id" value="{{ section_id }}">
                <input type="hidden" name="thread_id" value="{{ thread_id }}">
                <input type="submit" value="Lähetä">
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            </form>
        </div>
    </div>
    {% endif %}
</div>


{% endblock %}